{% extends 'base.html.twig' %}

{% block title %}Edit Candidate{% endblock %}

{% block body %}

{% set fieldCount = 0 %}
        {% for data in dataCandidate %}
            {% if data != null %}
            {% set fieldCount = fieldCount + 1 %}
            {% endif %}
        {% endfor %}
        {% set pourcentageCompleted = fieldCount * 100 / dataLength %}


    <h1>Edit Candidate</h1>
       <section class="gray-bg">
            <div class="container">
                <div class="row">
                    <div class="score-container">
                     
                            <img src="https://i.imgur.com/s9bPVaK.gif" style="height: 80px; width: 201px;"> &nbsp;
                            &nbsp; Hooray ! Your profile is complete.
                        </h4>
                        <div class="c100 p"{{pourcentageCompleted }}" small complete ">
                            <span>{{pourcentageCompleted|round }}%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>

       
          
                    

    {{ include('candidate/_form.html.twig', {'button_label': 'Update'}) }}

                

 





    <a href="{{ path('candidate_index') }}">back to list</a>

    {{ include('candidate/_delete_form.html.twig') }}
{% endblock %}
